[submodule "lib/cssmin"]
	path = lib/cssmin
	url = https://github.com/zacharyvoase/cssmin.git
    ignore = dirty
[submodule "lib/jsmin"]
	path = lib/jsmin
	url = https://github.com/tikitu/jsmin.git
    ignore = dirty
[submodule "lib/trello"]
	path = lib/trello
	url = git@github.com:bdoms/trello.git
[submodule "lib/git"]
	path = lib/git
	url = https://github.com/bdoms/git.git
